@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aseguradora Rodríguez</h1>
    <p>Saber más: <a href="#">Seguros de gastos médicos al alcance de tus manos</a>.</p>
</div>
