@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de Correo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Se te ha enviado un correo, revisa tu bandeja de correos: <a id="confirm-link" href="https://mail.google.com/mail/">Presiona aquí para entrar a Gmail.</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

